// Colors
$color-main: #DEDEDF;
$color-blocks: #7D7F89;
$color-bg-1: #434555;
$color-bg-2: #393C4A;
$color-apply: #63D569;
$color-high: #FE5555;
$color-mid: #F2E534;
$color-low: #64E268;
$color-chart: #4B86EC;

// FONT
$font: 'Quicksand', sans-serif;

